<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassSpecStudio.DataProvider.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MassSpecStudio.DataProvider.Test.Properties.Settings>
            <setting name="mzXMLTestFile1" serializeAs="String">
                <value>..\..\..\..\testData\mzxml\file07 - run1 - apo-CaM 50%0025D2O trial1.wiff.mzXML</value>
            </setting>
            <setting name="mzXMLTestFile2" serializeAs="String">
                <value>..\..\..\..\testData\mzxml\file25 - 20l apo trial1-s1 (MSMS).mzXML</value>
            </setting>
        </MassSpecStudio.DataProvider.Test.Properties.Settings>
    </applicationSettings>
</configuration>